:root {
  --white: rgba(254, 251, 251, 1);
  --deep-red: rgba(178, 43, 36, 1);
  --subdark-red: rgba(38, 9, 8, 1);
  --dark-red: rgba(13, 3, 3, 1);
  --lighter-red: rgba(217, 71, 64, 1);
  --x: rgba(242, 235, 235, 1);
  --k-r-fi-7s: rgba(136, 138, 145, 1);
  --astor-red: rgba(228, 32, 37, 1);
  --pale-dark-red: rgba(89, 50, 48, 1);
  --kramola-black: rgba(4, 4, 4, 1);
  --kramola-light-gray: rgba(153, 153, 153, 1);
  --kramola-dark-orange: rgba(46, 44, 43, 1);
  --kramola-bright: rgba(245, 245, 245, 1);
  --kramola-white: rgba(253, 252, 252, 1);
  --HV-small-main-font-family: "Salma Pro", Helvetica;
  --HV-small-main-font-weight: 500;
  --HV-small-main-font-size: 17.5px;
  --HV-small-main-letter-spacing: -0.35px;
  --HV-small-main-line-height: 120.00000476837158%;
  --HV-small-main-font-style: normal;
  --HV-footer-items-font-family: "Salma Pro", Helvetica;
  --HV-footer-items-font-weight: 500;
  --HV-footer-items-font-size: 17.5px;
  --HV-footer-items-letter-spacing: -0.875px;
  --HV-footer-items-line-height: 151.99999809265137%;
  --HV-footer-items-font-style: normal;
  --bold-futer-font-family: "Salma Pro", Helvetica;
  --bold-futer-font-weight: 500;
  --bold-futer-font-size: 17.5px;
  --bold-futer-letter-spacing: -0.875px;
  --bold-futer-line-height: 151.99999809265137%;
  --bold-futer-font-style: normal;
  --HV-button-main-font-family: "Salma Pro", Helvetica;
  --HV-button-main-font-weight: 500;
  --HV-button-main-font-size: 17.5px;
  --HV-button-main-letter-spacing: -0.875px;
  --HV-button-main-line-height: 89.99999761581421%;
  --HV-button-main-font-style: normal;
  --form-1-font-family: "Salma Pro", Helvetica;
  --form-1-font-weight: 500;
  --form-1-font-size: 12px;
  --form-1-letter-spacing: 0px;
  --form-1-line-height: normal;
  --form-1-font-style: normal;
  --input-font-family: "Salma Pro", Helvetica;
  --input-font-weight: 500;
  --input-font-size: 16px;
  --input-letter-spacing: -0.32px;
  --input-line-height: normal;
  --input-font-style: normal;
  --HV-big-main-font-family: "Salma Pro", Helvetica;
  --HV-big-main-font-weight: 500;
  --HV-big-main-font-size: 120px;
  --HV-big-main-letter-spacing: -6px;
  --HV-big-main-line-height: 89.99999761581421%;
  --HV-big-main-font-style: normal;
  --HV-second-big-main-font-family: "Salma Pro", Helvetica;
  --HV-second-big-main-font-weight: 500;
  --HV-second-big-main-font-size: 74px;
  --HV-second-big-main-letter-spacing: -3.7px;
  --HV-second-big-main-line-height: 89.99999761581421%;
  --HV-second-big-main-font-style: normal;
  --HV-second-small-main-font-family: "Salma Pro", Helvetica;
  --HV-second-small-main-font-weight: 500;
  --HV-second-small-main-font-size: 14px;
  --HV-second-small-main-letter-spacing: -0.28px;
  --HV-second-small-main-line-height: normal;
  --HV-second-small-main-font-style: normal;
  --HV-medium-main-font-family: "Salma Pro", Helvetica;
  --HV-medium-main-font-weight: 500;
  --HV-medium-main-font-size: 28px;
  --HV-medium-main-letter-spacing: -1.4px;
  --HV-medium-main-line-height: 89.99999761581421%;
  --HV-medium-main-font-style: normal;
  --HV-small-footer-info-font-family: "Salma Pro", Helvetica;
  --HV-small-footer-info-font-weight: 500;
  --HV-small-footer-info-font-size: 17.5px;
  --HV-small-footer-info-letter-spacing: -0.35px;
  --HV-small-footer-info-line-height: 89.99999761581421%;
  --HV-small-footer-info-font-style: normal;
  --HV-big-submain-font-family: "Salma Pro", Helvetica;
  --HV-big-submain-font-weight: 500;
  --HV-big-submain-font-size: 100px;
  --HV-big-submain-letter-spacing: -5px;
  --HV-big-submain-line-height: 89.99999761581421%;
  --HV-big-submain-font-style: normal;
  --HV-second-big-submain-font-family: "Salma Pro", Helvetica;
  --HV-second-big-submain-font-weight: 500;
  --HV-second-big-submain-font-size: 62px;
  --HV-second-big-submain-letter-spacing: -3.1px;
  --HV-second-big-submain-line-height: 89.99999761581421%;
  --HV-second-big-submain-font-style: normal;
  --HV-medium-submain-font-family: "Salma Pro", Helvetica;
  --HV-medium-submain-font-weight: 500;
  --HV-medium-submain-font-size: 24px;
  --HV-medium-submain-letter-spacing: -1.2px;
  --HV-medium-submain-line-height: 89.99999761581421%;
  --HV-medium-submain-font-style: normal;
  --HV-small-submain-font-family: "Salma Pro", Helvetica;
  --HV-small-submain-font-weight: 500;
  --HV-small-submain-font-size: 15px;
  --HV-small-submain-letter-spacing: -0.3px;
  --HV-small-submain-line-height: 110.00000238418579%;
  --HV-small-submain-font-style: normal;
  --HV-button-submain-font-family: "Salma Pro", Helvetica;
  --HV-button-submain-font-weight: 500;
  --HV-button-submain-font-size: 15px;
  --HV-button-submain-letter-spacing: -0.75px;
  --HV-button-submain-line-height: 89.99999761581421%;
  --HV-button-submain-font-style: normal;
  --HV-small-desc-submain-font-family: "Salma Pro", Helvetica;
  --HV-small-desc-submain-font-weight: 500;
  --HV-small-desc-submain-font-size: 12px;
  --HV-small-desc-submain-letter-spacing: -0.24px;
  --HV-small-desc-submain-line-height: 100%;
  --HV-small-desc-submain-font-style: normal;
  --HV-big-tablet-font-family: "Salma Pro", Helvetica;
  --HV-big-tablet-font-weight: 500;
  --HV-big-tablet-font-size: 80px;
  --HV-big-tablet-letter-spacing: -4px;
  --HV-big-tablet-line-height: 89.99999761581421%;
  --HV-big-tablet-font-style: normal;
  --HV-button-tablet-font-family: "Salma Pro", Helvetica;
  --HV-button-tablet-font-weight: 500;
  --HV-button-tablet-font-size: 19px;
  --HV-button-tablet-letter-spacing: -0.95px;
  --HV-button-tablet-line-height: 100%;
  --HV-button-tablet-font-style: normal;
  --HV-small-tablet-font-family: "Salma Pro", Helvetica;
  --HV-small-tablet-font-weight: 500;
  --HV-small-tablet-font-size: 19px;
  --HV-small-tablet-letter-spacing: -0.38px;
  --HV-small-tablet-line-height: normal;
  --HV-small-tablet-font-style: normal;
  --HV-medium-tablet-font-family: "Salma Pro", Helvetica;
  --HV-medium-tablet-font-weight: 500;
  --HV-medium-tablet-font-size: 30.5px;
  --HV-medium-tablet-letter-spacing: -1.525px;
  --HV-medium-tablet-line-height: 89.99999761581421%;
  --HV-medium-tablet-font-style: normal;
  --HV-second-big-tablet-font-family: "Salma Pro", Helvetica;
  --HV-second-big-tablet-font-weight: 500;
  --HV-second-big-tablet-font-size: 50px;
  --HV-second-big-tablet-letter-spacing: -2.5px;
  --HV-second-big-tablet-line-height: 89.99999761581421%;
  --HV-second-big-tablet-font-style: normal;
  --HV-big-phone-font-family: "Salma Pro", Helvetica;
  --HV-big-phone-font-weight: 500;
  --HV-big-phone-font-size: 50px;
  --HV-big-phone-letter-spacing: -2.5px;
  --HV-big-phone-line-height: 89.99999761581421%;
  --HV-big-phone-font-style: normal;
  --HV-small-phone-font-family: "Salma Pro", Helvetica;
  --HV-small-phone-font-weight: 500;
  --HV-small-phone-font-size: 12px;
  --HV-small-phone-letter-spacing: -0.24px;
  --HV-small-phone-line-height: 129.99999523162842%;
  --HV-small-phone-font-style: normal;
  --HV-big-medium-main-font-family: "Salma Pro", Helvetica;
  --HV-big-medium-main-font-weight: 500;
  --HV-big-medium-main-font-size: 40.5px;
  --HV-big-medium-main-letter-spacing: -2.025px;
  --HV-big-medium-main-line-height: 89.99999761581421%;
  --HV-big-medium-main-font-style: normal;
  --HV-supersmall-main-font-family: "Salma Pro", Helvetica;
  --HV-supersmall-main-font-weight: 500;
  --HV-supersmall-main-font-size: 11px;
  --HV-supersmall-main-letter-spacing: 0px;
  --HV-supersmall-main-line-height: normal;
  --HV-supersmall-main-font-style: normal;
  --HV-big-medium-submain-font-family: "Salma Pro", Helvetica;
  --HV-big-medium-submain-font-weight: 500;
  --HV-big-medium-submain-font-size: 38px;
  --HV-big-medium-submain-letter-spacing: -1.9px;
  --HV-big-medium-submain-line-height: 89.99999761581421%;
  --HV-big-medium-submain-font-style: normal;
  --big-bold-main-font-family: "Salma Pro", Helvetica;
  --big-bold-main-font-weight: 500;
  --big-bold-main-font-size: 120px;
  --big-bold-main-letter-spacing: -6px;
  --big-bold-main-line-height: 89.99999761581421%;
  --big-bold-main-font-style: normal;
  --big-bold-submain-font-family: "Salma Pro", Helvetica;
  --big-bold-submain-font-weight: 500;
  --big-bold-submain-font-size: 100px;
  --big-bold-submain-letter-spacing: -5px;
  --big-bold-submain-line-height: 89.99999761581421%;
  --big-bold-submain-font-style: normal;
  --big-bold-tablet-font-family: "Salma Pro", Helvetica;
  --big-bold-tablet-font-weight: 500;
  --big-bold-tablet-font-size: 80px;
  --big-bold-tablet-letter-spacing: -4px;
  --big-bold-tablet-line-height: 89.99999761581421%;
  --big-bold-tablet-font-style: normal;
  --big-bold-phone-font-family: "Salma Pro", Helvetica;
  --big-bold-phone-font-weight: 500;
  --big-bold-phone-font-size: 50px;
  --big-bold-phone-letter-spacing: -2.5px;
  --big-bold-phone-line-height: 89.99999761581421%;
  --big-bold-phone-font-style: normal;
  --text-font-family: "Chakra Petch", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 78.19999694824219px;
  --text-letter-spacing: -3.9099998474121094px;
  --text-line-height: 89.99999761581421%;
  --text-font-style: normal;
  --smooth-shadow:
    0px 3.4348926544189453px 2.7479140758514404px 0px rgba(0, 0, 0, 0.01),
    0px 8.687101364135742px 6.949680805206299px 0px rgba(0, 0, 0, 0.02),
    0px 17.720870971679688px 14.176697731018066px 0px rgba(0, 0, 0, 0.02),
    0px 36.501644134521484px 29.201316833496094px 0px rgba(0, 0, 0, 0.03), 0px 100px 80px 0px rgba(0, 0, 0, 0.04);
  --:
    0px 1.8540618419647217px 6.060291767120361px 0px rgba(0, 0, 0, 0.02),
    0px 4.455568313598633px 14.56372356414795px 0px rgba(0, 0, 0, 0.02),
    0px 8.389439582824707px 27.422199249267578px 0px rgba(0, 0, 0, 0.02),
    0px 14.965327262878418px 48.9165153503418px 0px rgba(0, 0, 0, 0.03),
    0px 27.990997314453125px 91.49296569824219px 0px rgba(0, 0, 0, 0.06), 0px 67px 219px 0px rgba(0, 0, 0, 0.15);
  --shada:
    3px 2px 8px 0px rgba(0, 0, 0, 0.1), 12px 8px 15px 0px rgba(0, 0, 0, 0.09), 27px 18px 20px 0px rgba(0, 0, 0, 0.05),
    48px 33px 23px 0px rgba(0, 0, 0, 0.01), 75px 51px 25px 0px rgba(0, 0, 0, 0);
  --variable-collection: rgba(242, 235, 235, 1);
  --variable-collection-site: 1440px;
  --variable-collection-color: rgba(82, 73, 68, 1);
}
