.skyjet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  box-shadow: var(--shada);
  position: sticky;
  padding: 8px;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
}

.logo {
  text-decoration: none;
  width: 170px;
  height: 42px;
  margin-right: 2px;
  object-fit: contain;
  order: 1; 
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  margin: 12px auto 0;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 6px;
  margin-right: 6px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #5664EE;
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333b8c;
  color: #ffffff;
  box-shadow: var(--shada);
  border-radius: 5px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  white-space: nowrap;
  max-width: 230px;
  padding: 8px 6px;
  font-family: "LINE Seed JP", Helvetica;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0;
  font-weight: 500;
  align-self: center;
}

.phone-button {
  padding: 8px 6px;
  max-height: 34px;
  order: 2;
}

.phone-icon {
  position: relative;
  width: 14px;
  height: 14px;
  aspect-ratio: 1;
}

.button-text {
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-left: 2px;
}

.phone-button:hover {
  background-color: #5664EE;
}

main {
  width: 100%;
}

.section {
  display: flex;
  padding-top: 36px;
}

.hero {
  flex-direction: column;
  align-items: flex-end;
}

.about {
  flex-direction: row;
  justify-content: space-between;
}

.services {
  flex-direction: column;
}

.section-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.section-title {
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 28px;
  line-height: normal;
  letter-spacing: -1px;
  text-wrap: wrap;
}

.section-description {
  margin-top: 28px;
  width: 85%;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

.section-subdescription {
  margin-top: 18px;
  width: 100%;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: normal;    
}

.img-container {
  position: relative;
  width: 60%;
  height: 170px;
  object-fit: cover;
}

.img-group {
  display: none;
}

.section-img {
  position: absolute;
  right: 0;
  object-fit: cover;
}

.hero-img {
  margin-top: -40px;
  width: 100%;
}

.button:hover {
  background-color: #5664EE;
}

.contact-us-button {
  align-self: center;
  margin-top: 36px;
  font-family: "LINE Seed JP", Helvetica;
  min-width: 200px;
}

/* About section */
/* Services section */

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  gap: 12px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--shada);
  transition: background-color 0.2s ease-in-out;
}

.card:hover {
  background-color: #e6f0f6;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 8px;
  height: 100%;
  max-width: 400px;
}

.card-title {
  padding: 10px 8px 6px 8px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  /* font-size: 24px; */
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  overflow-wrap: break-word;
}

.card-description {
  -webkit-text-stroke: 0.5px #000000;
  padding: 6px 8px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #000000;
  /* font-size: 16px; */
  font-size: 14px;
  letter-spacing: 0;
}

.card-img {
  border-top-left-radius: 8px;
  height: 140px;
  width: auto;
  object-fit: cover;
  align-self: flex-start;
}

.order-button {
  margin: 12px;
  min-width: 200px;
}

.skyjet .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 0px;
  position: relative;
  flex: 0 0 auto;
}

.skyjet .view-2 {
  width: 28.7vw;
  height: 226px;
  justify-content: center;
  gap: 40px;
  top: 0px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--shada);
  transition: top 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.view-2:hover {
  top: -5px;
}

.skyjet .vector {
  position: relative;
  width: 105px;
  height: 105px;
  aspect-ratio: 1;
}

.skyjet .text-wrapper-7 {
  width: fit-content;
  margin-top: -1px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  white-space: nowrap;
  position: relative;
  line-height: normal;
}

.skyjet .text-wrapper-8 {
  width: fit-content;
  margin-left: -1px;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  white-space: nowrap;
  position: relative;
  line-height: normal;
}

.skyjet .vector-2 {
  position: relative;
  width: 87px;
  height: 105px;
  aspect-ratio: 0.83;
}

.skyjet .vector-3 {
  position: relative;
  width: 99px;
  height: 105px;
  aspect-ratio: 0.95;
}

.skyjet .vector-4 {
  position: relative;
  width: 105px;
  height: 84px;
  aspect-ratio: 1.25;
}

.skyjet .text-wrapper-9 {
  width: fit-content;
  margin-left: -1px;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
}

.skyjet .view-3 {
  gap: 60px;
  padding: 60px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--shada);
}

.skyjet .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 40px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.skyjet .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.skyjet .button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
}

.skyjet .element {
  width: fit-content;
  margin-top: -1px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  position: relative;
  line-height: normal;
}

.skyjet .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
}

.skyjet .vector-6 {
  position: relative;
  width: 17px;
  height: 14px;
  aspect-ratio: 1.27;
}

.skyjet .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a.text-wrapper-11:hover {
  color: #333b8c;

}

.skyjet .ph-map-pin-fill {
  display: flex;
  width: 17px;
  height: 17px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  aspect-ratio: 1;
}

.skyjet .vector-7 {
  position: relative;
  align-self: stretch;
  aspect-ratio: 0.79;
}

.skyjet .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.skyjet .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
}

.skyjet .text-wrapper-12 {
  flex: 1;
  margin-top: -2px;
  margin-left: -1px;
  -webkit-text-stroke: 0.5px #676a84;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #676a84;
  position: relative;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.skyjet .button-4 {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  justify-content: center;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 5px;
}

.skyjet .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0px 60px 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.skyjet .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
  margin-top: -2px;
}

.skyjet .frame-11 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.skyjet .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  margin-left: -1px;
  -webkit-text-stroke: 0.5px #676a85;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #676a85;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.skyjet .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  -webkit-text-stroke: 0.5px #676a85;
  font-family: "LINE Seed JP", Helvetica;
  font-weight: 400;
  color: #676a85;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.skyjet .button {
  text-decoration: none;
  cursor: pointer;
}

.skyjet .button-3 {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 470px) {
  .header {
    padding: 8px 12px;
  }

  .nav-link {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
  }

  .logo {
    width: 203px;
    height: 50px;
  }

  .hero {
    flex-direction: row;
  }

  .section-content {
    align-items: flex-start;
    padding: 8px 12px;
    /* width: 80%; */
  }

  .hero .section-content {
    width: 80%;
  }

  .about .section-content {
    width: 100%;
  }

  .section-description {
    width: 100%;
    margin-top: 36px;
  }

  .section-img {
    align-self: flex-start;
  }

  .img-container {
    width: 55%;
    align-self: flex-start;
  }

  .hero-img {
    width: 100%;
    margin-top: -28px;
  }

  .contact-us-button {
    align-self: flex-start;
    margin-top: 44px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .card {
    flex-direction: row;
    height: 180px;
  }

  .card-title {
    padding: 8px 4px;
  }

  .card-description {
    padding: 0 6px 0 4px;
  }

  .card-img {
    object-fit: cover;
    height: 100%;
  }

  .order-button {
    margin-top: 4px;
  }
}

@media (min-width: 780px) {
  .header {
    padding: 12px 16px;
  }

  .phone-icon {
    width: 17px;
    height: 17px;
  }

  .button-text {
    font-size: 14px;
    line-height: 14px;
  }

  .contact-us-button {
    min-width: 230px;
  }

  .navigation-menu {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-link {
    margin-left: 26px;
    margin-right: 26px;
  }

  .section {
    padding-top: 70px;
  }

  .section-content {
    width: 80%;
    padding: 16px;
  }

  .services .section-content {
    width: 100%;
  }

  .section-title {
    font-size: 36px;

  }

  .section-description {
    margin-top: 50px;
    font-size: 22px;
    line-height: 22px;
    width: 95%;
  }

  .section-subdescription {
     margin-top: 32px;
    font-size: 18px;
    line-height: 18px;
  }

  .section-img {
    margin-top: -48px;
  }

  .img-group {
    display: block;
    position: relative;
    width: 25%;
  }

  .about-img-1 {
    position: absolute;
    top: calc(50.00% - 130px);
    right: 40px;
    width: auto;
    height: 80%;
  }

  .about-img-2 {
    position: absolute;
    top: calc(50.00% - 130px);
    right: 0;
    width: auto;
    height: 80%;
  }

  .card-list {
    margin-top: 32px;
    gap: 24px;
  }

  .card {
    height: 200px;
  }

  .card-title {
    margin-top: 8px;
    font-size: 20px;
  }

  .card-description {
    font-size: 16px;
  }

  .order-button {
    margin-bottom: 16px;
  }
}

@media (min-width: 980px) {
  .header {
    padding: 14px 20px;
  }

  .navigation-menu {
    order: 2;
    margin-top: 0;
  }

  .phone-button {
    padding: 20px 14px;
    order: 3;
  }

  .nav-link {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
  }

  .contact-us-button {
    margin-top: 60px;
  }

  /* .section {
    padding: 54px 0 54px 24px;
  } */

  .section-content {
    width: 75%;
    max-width: 700px;
  }

  .services .section-content {
    width: 100%;
    max-width: 100%;
  }

  .section-title {
    font-size: 48px;
  }

  .section-description {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  .section-subdescription {
    margin-top: 18px;
    font-size: 16px;
    line-height: 16px;
  }

  .hero-img {
    margin-top: -90px;
  }

  .about-img-1 {
    top: 50px;
    height: 100%;
  }

  .about-img-2 {
    top: 50px;
    height: 100%;
  }

  .card-list {
    justify-content: space-between;
    gap: 18px;
  }

  .card {
    width: 49%;
    height: 180px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 4px 24px;
  }

  .logo {
    width: 230px;
    height: 65px;
  }

  .nav-link {
    margin-left: 32px;
    margin-right: 32px;
  }

  .section {
    padding-top: 70px;
  }

  /* .section-content {
    width: 65%;
  } */

  .section-title {
    font-size: 54px;
  }

  .section-description {
    margin-top: 40px;
  }

  /* .section-img {
    top: -120px;
  } */

  .hero-img {
    margin-top: -140px;
  }

  .card {
    height: 200px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  .img-container {
    max-width: 40%;
  }

  .hero-img {
    margin-top: -200px;
  }
}
